<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}L5RP Projektas{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo.png') }}" />
    </head>
    <body>
    <div class="wrap">

        {# Server info #}
        <div class="server-info-line">
            <a href="{{ path('homepage') }}">
                <img class="img-responsive logo" src="{{ asset('assets/images/logo.png') }}">
            </a>
            <a href="{{ path('homepage') }}">
                <h1>GTA V serveris</h1>
            </a>
            <div class="server-info-right">
                <span class="server-ip">Serverio IP: rage.l5roleplay.eu </span>
                <span class="online-now">

                    {% if(server_status) %}
                        Online {{ server_curr_players }}/{{ server_max_players }}
                    {% else %}
                        Offline
                    {% endif %}
                </span>
            </div>
        </div>

        {# Navigation #}
        <nav class="navbar navbar-top">
            <button class="navbar-toggler-right navbar-toggle collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#topTargetNav"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                MENIU
            </button>

            <div class="collapse navbar-collapse" id="topTargetNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="bold">Forumas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/5u9dAxm">
                            <i class="fa fa-gamepad" aria-hidden="true"></i> Discord
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://trello.com/l5rp">
                            <i class="fa fa-trello" aria-hidden="true"></i> Trello
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/l5roleplay/">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("ROLE_USER") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                            Atsijungti
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard') }}">
                            Serveris
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                            Prisijungti
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
                            Registruotis
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {# Inherited content #}
        {% block body %}
        {% endblock %}

    </div> {#end wrap#}

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-content">
                        <p>Amazing Server Footer</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ asset('build/gtamaploader.js') }}"></script>
            <script async src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCtCFPnXWV_4nis2Dp07e5ZWQ-awAaQBYs&callback=initMap"></script>
        {% endblock %}

    </body>
</html>
