{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="topai-wrapper">
                    <h1>Top Žaidėjai</h1>
                    <table class="table table-striped table-hover table-condensed">
                        <tr>
                            <th>Žaidėjas</th>
                            <th>
                                {% if collumn == "xp" %}
                                    {% if type == "ASC" %}
                                        <a href="{{ path("topai", {"col": "xp", "type": "DESC", "page": 1}) }}">
                                            Patirtis <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path("topai", {"col": "xp", "type": "ASC", "page": 1}) }}">
                                            Patirtis <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path("topai", {"col": "xp", "type": "DESC", "page": 1}) }}">
                                        Patirtis
                                    </a>
                                {% endif %}
                            </th>
                            <th>
                                {% if collumn == "money" %}
                                    {% if type == "ASC" %}
                                        <a href="{{ path("topai", {"col": "money", "type": "DESC", "page": 1}) }}">
                                            Pinigai <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path("topai", {"col": "money", "type": "ASC", "page": 1}) }}">
                                            Pinigai <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path("topai", {"col": "money", "type": "DESC", "page": 1}) }}">
                                        Pinigai
                                    </a>
                                {% endif %}
                            </th>
                        </tr>

                        {% for item in pagination %}
                            <tr>
                                <td><a href="{{ path("profile", {profile_id: 1}) }}">{{ item.firstName }} {{ item.lastName }}</a></td>
                                <td>{{ item.character.xp }}</td>
                                <td>{{ item.character.money }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}